{% extends 'base.html.twig' %}

{% block title %}{{ program.title }}{% endblock %}

{% block body %}
    <h1 class="text-center my-5">{{ program.title }}</h1>
    <p>{{ program.summary }}</p>
    <img class="w-100" src="{{ program.poster }}" alt="{{ program.title }} poster">
{% endblock %}
